<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/scss/addCity.scss" />
    <title>Vite + TS</title>
  </head>
  <body>
    <header>
      <section class="headerTitle-container">
        <h1 class="headerTitle">Riwi Store</h1>
      </section>
      <nav>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="./View/addCity.html">Agregar ciudad</a></li>
        </ul>
      </nav>
    </header>
    <script type="module" src="/controllers/home.ts"></script>
  </body>
</html>